/*=====================configuração geral da div 3======================*/
		.sessao-03{
			background: rgb(220,220,220);
			width: 100%;
			max-width: 1920px;
			min-width: 280px;
			min-height: 1661px;
			margin: auto;
			position: relative;
		}

		.container-sessao-3{
			position: relative;
			width: 100%;
			max-width: 1920px;
			min-width: 280px;
			min-height: 1661px;
			margin: auto;
			position: relative;
		}

		#h2-parceiros {
			padding-top: 123px;
    		text-align: center;
   			font-size: 50pt;
   		}
   		#sublilinha-h2-parceiros{
   			padding: 1px;
			background: red; 
   			max-width: 50%;
   			min-width: 200px;
   			align-items: center;
   			justify-content: center;
   			margin: auto;
   		}
/*==================================================estilos das setas=====================================================*/

		.seta{
			position: absolute;
		}
		#seta-direita{
			top: 320px;
			left: 8%;
			transform: rotate(180deg);
		}
		#seta-direita:hover{
			animation-name: seta_Direita;
			animation-duration: 1s;
			animation-iteration-count: infinite;
			animation-direction: alternate;
			animation-timing-function: ease-in;
		}

		#seta-esquerda{
			top: 320px;
			right: 5%;
		}
		#seta-esquerda:hover{
			animation-name: seta_Esquerda;
			animation-duration: 1s;
			animation-iteration-count: infinite;
			animation-direction: alternate;
			animation-timing-function: ease-in
		}
		@keyframes seta_Direita{
			0%{
				transform: translateX(-4px) rotate(180deg) scale(1.2);
			}

			100%{
				transform: translateX(-8px)rotate(180deg) scale(1.2);
			}
		}
		@keyframes seta_Esquerda{
			0%{
				transform: translateX(4px) scale(1.2);
			}

			100%{
				transform: translateX(8px) scale(1.2);
			}
		}
/*===========================================================================================*/
/*===================================estil e animação carrossel==============================*/		

		#navegador-scroll{
			position: relative;
			display: flex;
			margin: auto;
			padding-bottom:135px;
			padding-top: 150px;
			max-width: 80%;
			overflow-x: auto;
			gap: 9%;
			justify-content: center;
			align-items: center;

		}
		#navegador-scroll::-webkit-scrollbar{
			width: 0px;
		}
		.div-carrossel-1{
			width: 100%;
			max-width:523px;
			height: 380px;  
			min-height: auto;
			position: relative;
			display: inline-flex;
			margin: auto;
			min-width: 40%;
			background: white;
			border-radius: 15px;
			flex-wrap: wrap;
			grid-gap:0px;
		/*	border:1px solid black; caso queira modificar usar para definir os parametros*/

		}
		.div-carrossel-1 .h2-carrossel{
			position: relative;
			height: 20%;
			font-size: 20pt;/*ver se a media esta correta*/
			border:1px solid;
			padding: 0px;
			padding-bottom: 2px;
			padding-top: 10px;
			text-align: left;
			border:1px solid black;
		}
		#navegador-scroll .paragrafo-carrossel{
			display: inline-flex;
			justify-content: center;
			margin: 0px;
			text-align: center;
			align-items: center;
			margin: auto;
			width: 50%;
			align-items: center;
			height: 50%;
		}
		.iframe-carrossel{		
			position: relative;	
			display: inline-block;
			top: -8%;
			left: -10px;
			width: 100%;
			max-width: 233px; 
			min-width: auto;
			height: 100%;
			max-height: 191px;
			min-width: auto;
			min-height: 20%;
			background: rgba(135,0,0,1);
			border-radius: 15px;
		}

		#navegador-scroll.centro.activeE .div-carrossel-1{
			animation-name : testeC1;
			animation-duration: 1.5s;
			animation-fill-mode: forwards;	
			animation-timing-function: ease-out;			
		}

		#navegador-scroll.centro.activeD .div-carrossel-1{
			animation-name : testeC2;
			animation-duration: 1.5s;
			animation-fill-mode: forwards;
			animation-timing-function: ease-out;
		}
		#navegador-scroll.activeE  .div-carrossel-1{
			animation-name: testeE;
			animation-duration: 1.5s;
			animation-fill-mode: forwards;
			animation-timing-function: ease-out;
			
		}
		#navegador-scroll.activeD  .div-carrossel-1{
			animation-name: testeD;
			animation-duration: 0.1s;	
			animation-fill-mode: forwards;	
			animation-timing-function: ease-out;
		}

		#apontador{
			width: 8px;
			height: 10px;
			background: rgb(54,54,54);
			margin: auto;
			border-radius: 50%;		
			transition:1.4s;
		}
		#apontador::before{
			content: "";
			position: absolute;
			display: inline-flex;
			width: 8px;
			height: 10px;
			background: rgb(128,128,128);
			margin-left: -10px;
			border-radius: 50%;

			transition:1.4s;	
		}

		#apontador::after{
			content: "";
			display: inline-flex;
			position: absolute;
			width: 8px;
			height: 10px;
			margin-left: 10px;
			background: rgb(128,128,128);
			border-radius: 50%;
			transition:1.4s;
		}

		#apontador.centro.activeD#apontador{ background: rgb(54,54,54);}
		#apontador.centro.activeE#apontador{ background: rgb(54,54,54);}


		#apontador.centro.activeD#apontador::before{background: rgb(128,128,128);}
		#apontador.centro.activeE#apontador::after{background: rgb(128,128,128);}

		#apontador.activeD#apontador::before{ background: rgba(54,54,54);}
		#apontador.activeD#apontador{background:rgb(128,128,128);}

		#apontador.activeE#apontador::after{ background: rgba(54,54,54);}
		#apontador.activeE#apontador{background:rgb(128,128,128);}


		@keyframes testeC1{
			0%{
				transform: translateX(245%);
				opacity: 0.1;
			}
			80%{
				opacity: 0.2;
			}
			100%{
				transform: translateX(0px);
				opacity: 1;
			}
		}
		@keyframes testeC2{
			0%{
				transform: translateX(-245%);
				opacity: 0.1;
			}
			80%{
				opacity: 0.2;
			}
			100%{
				transform: translateX(0px);
				opacity: 1;
			}
		}
		@keyframes testeE{

			0%{
				opacity: 0.1;
			}
			80%{
				opacity: 0.2;
			}
			100%{
				transform: translateX(-245%);
				opacity: 1;

			}
		}
		@keyframes testeD{
			0%{
				opacity: 0.1;
			}

			80%{
				opacity: 0.2;
			}
			100%{
				transform: translateX(245%);
				opacity: 1;
			}
		}

		.qt-direita{
			position: absolute;
			display: inline-flex;
			top: 90%;
			left: 90%;
			width: 25px;
			height: 25px;


		}
		.qt-esquerda{
			position: absolute;
			display: inline-flex;
			padding-left: 25px;
			height: 20px;
			bottom: 35%;
			width: 25px;
			height: 25px;
			align-items: right;

		}		
		.svg-carrossel{
			position: relative;
			top: 10%;
			right: 110px;
			height: 10px;
			padding: 5px;

		}

/*lembrar de deixar isso tdo responsivo em*/
/*=========================================*/
	#parceiros-container{
		position: relative;
		display: inline-flex;
		width: 65%;
		margin:auto;
		height: auto;
		margin-top: 75px;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		column-gap: 20px;

	}
	.parceiros{
		display: flex;
		position: relative;
		flex-flow:column;
		width: 100%;
		max-width: 504px;
		min-height:150px; 
		margin: auto;
		background: white;
		border-radius: 5%;
		height: min-content;
	}
	.img-parceiros{
		width: 100%;
		min-height: 75px;
		border-radius: 5%;
	}

	.h3-sap-parceiros{
		padding-left: 40px;
		position: relative;
		display: inline-flex;
	}

	.paragrafo-parceiros{
		align-items: justify;
		padding-left: 40px;
		padding-right: 40px;
		opacity: 0.5;
		text-indent: 20px;
	}
	.paragrafo-parceiros#id-paragrafo-parceiros-B1{
		padding-bottom: 75px;
	}

	.final-parceiros{

		margin: auto;	
		margin-top: 60px;
		max-width: 90%;
		height: max-content;	
		justify-content: center;
		display: flex;
		flex-wrap: wrap;
		padding-bottom: 50px;
		gap: 15px;
	}
	.img-parceiros-final{
		position: relative;	
		flex:1 1 250px;
		max-width: 300px;
		grid-row-gap: 60px;
		display: flex;
		height: 60px;
		flex-wrap: wrap;
		margin-bottom: 60px; 
	}

