		.container-sessao-final{
			display: flex;
			flex-wrap: wrap;
			position:relative;
			width: 100%;
			max-width: 1920px;
			min-width: 280px;
			height: 100%;
			max-height: auto;
			min-height: 671px;
			background: rgb(220,220,220);
			margin: auto; 
			column-gap: 50px;
		}

		.container-fale-conosco{
			width: 100%;
			min-width: auto;
			max-width: 800px;
			min-width: auto;
		/*	background: blue;*/
			height: min-content;
		}
		#h2-sessao-final{
			position: relative;
			padding-left: 350px;
			padding-top: 161px;
			font-family: "Bold";
			font-size: 50pt;
			display: inline-flex;
		}
		#hr-sessao-final{
			position: relative;
			background: red;
			padding: 2px;
			max-width: 400px;
			min-width: 300px;
			margin-right: 0px;
			margin-left:350px;

		}

		.container-form{
/*			background: red;*/
			width: 100%;
			max-width:900px; 
			height: max-content;
		}
		.campos-form{
			color: rgb(128,128,128);
			margin-top: 60px;
		}
		.text-form{
			width: 100%;
			max-width: 755px;
			min-width: auto;
			height: 52px;
			border-radius: 5px;
			border-style: none;
			text-transform: uppercase;
		}
		.text-form:focus{
			color: white;
			text-transform: uppercase;
			background: black;
			outline-color: red;
		}
		#form-mensagem{
			width: 100%;
			max-width: 755px;
			min-width: 300px;
			height: 100%;
			min-height: 227px;
			max-height: 227px;
		}
		#form-mensagem:focus{
			background: black;
			color:white;
		}

		#btn-form{
			margin-top: 20px;
			margin-bottom: 72px; 
			height: 40px;
			width: 119px;
			background: red;
			color: white;
			cursor: pointer;
			border-radius: 5px;
			border: none;
			text-align: center;
			display: block;
		}

		@media(max-width:1783px){
			#h2-sessao-final{
				margin: auto;
				padding: 0px;
			}
			#hr-sessao-final{
				margin: 0px;
				max-width: 100%;
			}
			.container-fale-conosco{
				text-align: center;
				align-items: center;
			}

			.container-sessao-final{
				justify-content: center;
			}
		}